@import "../main.scss";

body {
    display: block;


}

.header {
    width: 100%;
    height: 70px;
    padding: 0 25px;
    @extend %space-between;
    box-shadow: 0 0 5px rgba($color-black, .3);

    .logo-container {
        .logo {
            font-size: 20px;
        }
    }

    .search-container {
        border-radius: 3px;
        border: 1px solid $color-black;
        
        .search-form {
            @extend %flex-start;
            
            .search-bar {
                padding: 5px;
                border: none;
                border-radius: 0;
                border-right: 1px solid $color-black;

                &:focus {
                    outline: none;
                }
            }

            .search-btn {
                padding: 5px;

                img {
                    width: 14px;
                }
            }
        }
    }

    .booking-container {

        img {
            height: 40px;
        }

        span {
            display: none;
        }
    }
}

.content-container {
    .side-nav {
        top: 70px;
        left: -400px;
        width: 400px;
        height: 100vh;
        position: fixed;
        background: rgba($color-black, .3);

        &.active {
            left: 0;
        }

        .profile-details {
            padding: 20px;
            @extend %flex-start;
            border-bottom: 2px solid rgba($color-black, .3);

            .profile-image {
                width: 50px;
                height: 50px;
                overflow: hidden;
                margin-right: 20px;
                border-radius: 50%;

                img {
                    height: 100%;
                    object-fit: cover;
                }

            }

            span {
                color: $color-white;
            }
        }

        .side-menu {
            padding-top: 40px;

            ul {
                list-style: none;

                li {
                    padding: 10px 20px;
                    transition: all .3s ease-in-out;
                    border-bottom: 1px solid rgba($color-black, .3);

                    &:hover {
                        background: darken(rgba($color-black, .3), .5);
                    }

                    a {
                        font-size: 20px;
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .main-content {
        width: 90%;
        margin: 0 auto;
        // max-width: 600px;

        
    }
}