$color-red: #ff0000;
$color-black: #000000;
$color-white: #ffffff;


%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

%space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    @extend %center;
    font-family: Nunito, sans-serif;

    .btn {
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 3px;
        text-transform: uppercase;

        a {
            text-decoration: none;
        }
    }
}

.main-content {
    width: 70%;
    margin: 0 auto;
    max-width: 600px;

    .logo-container {
        height: 100px;
        @extend %center;
        max-width: 200px;
        border-radius: 3px;
        background: $color-red;
        margin: 0 auto 20px auto;
        
        .logo {
            color: $color-white;
        }
    }

    .login-form, 
    .reg-form {
        display: none;

        &.active {
            display: block;
        }

        label {
            text-align: right;

            span {
                text-align: start;
            }

            input {
                width: 100%;
                padding: 10px;
                display: block;
                border-radius: 3px;
                margin-bottom: 20px;
                border: 1px solid $color-black;
            }
        }

        .login-btn, 
        .reg-btn {
            width: 100%;
            margin-bottom: 20px;
            color: $color-white;
            background: $color-red;

            a {
                color: $color-white;
            }
        }

        sub {
            display: block;
            text-align: center;

            .form-toggle {
                border: none;
                cursor: pointer;
                margin-left: 5px;
                color: $color-red;
                background: transparent;
                border-bottom: 1px solid $color-red;
            }
        }
    }
}